Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-size,
  -readability-named-parameter,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -readability-redundant-control-flow,
  -readability-redundant-declaration,
  -readability-redundant-member-init,
  -readability-redundant-smartptr-get,
  -readability-redundant-string-init,
  -readability-simplify-boolean-expr,
  -readability-simplify-subscript-expr,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -readability-qualified-auto,
  -readability-container-size-empty,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-avoid-nested-conditional-operator,
  -readability-avoid-const-params-in-decls,
  -readability-avoid-const-params-in-decls,
  -altera-*,
  -llvmlibc-*,
  -hicpp-*,
  -google-*,
  -zircon-*,
  -misc-include-cleaner,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 40

WarningsAsErrors: ''
HeaderFilterRegex: '.*'

FormatStyle:     none
